* {
  box-sizing: border-box;
  border-radius: 4px;
  list-style-type: none;
}

html, body {
  position: relative;
  margin: 0.1em;
  padding: 0.1em;
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Eczar', serif;
}

p {
  font-family: 'Gentium Basic', serif;
  padding: 0;
}

nav {
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  background-color: HSLA(186, 60%, 48%, 0.3);
}

form {
  display: flex;
  width: 100vw;
}

section .panel {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

section .panel h2 {
  padding-right: 1.5em;
}

section img {
  width: 4em;
  margin-top: 1em;
  margin-left: 1em;
}

#weather-box {
  display: block;
  line-height: 0.5em;
  text-align: center;
}

#warning-container {
  margin-bottom: 1em;
  background-color: HSLA(14, 100%, 60%, 0.7);
  text-align: center;
}

#map {
  width: 100%;
}

#stations-list {
  display: inline-block;
}

ul {
  height: 70vh;
  overflow-y: auto;
  margin: 0 auto;
}

li {
  margin: 0.2em 0;
  padding: 0.2em;
}

li:hover {
  background-color: HSLA(186, 60%, 48%, 0.3);
}

li.active {
  background-color: HSLA(201, 60%, 48%, 0.6);
}

footer {
  position: sticky;
  display: inline-block;
  width: 100%;
  margin: 0 auto;
  line-height: 1em;
  text-align: right;
  text-decoration: none;
  background-color: HSLA(186, 60%, 48%, 0.3);
}

@media (min-width: 667px) {
  body {
    font-size: 2vw;
  }

  form {
    display: flex;
    width: 30vw;
  }

  section .panel {
    display: inline-block;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    float: left;
  }

  #weather-box {
    width: 60vw;
    display: flex;
    line-height: 0.5em;
    text-align: center;
  }

  #map {
    height: 100%;
    width: 60%;
    float: left;
  }

  #stations-list {
    height: 50%;
    width: 35%;
    display: inline;
    float: right;
  }

}
